# Python virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.pyc

# Environmental secrets (API keys, passwords)
.env

# File created by codes
expenses.json
expenses_oop.json
*.json